a-scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.ui-container{
  color: white;
}

.home-copy{
  position: absolute;
  left: 50PX;
  color: white;
  top: 40px;

}
.home-copy h1{
  color: white;
  font-size: 70pt;
  line-height: 70pt;
  font-style: italic;
  margin-top: 0;
}

.nav{
    top: 30px;
    right: 40px;
    position: fixed;
   
}

.nav a{
     color: white;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.ui-container {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-copy {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16pt;
  color: white;
}
.scan-layer-img{
  width: 15vw;
}

/* 📱 MOBILE */
@media (max-width: 600px) {

  .nav {
    top: 0;
    color: #000000 !important;
    z-index: 999;
  }
  .nav a {
    color: #000000;
  }




}