a-scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.ui-container{
  color: white;
}

.home-copy{
  position: absolute;
  left: 50PX;
  color: white;
  top: 20px;

}
.home-copy h1{
  color: white;
  font-size: 70pt;
  line-height: 70pt;
  font-style: italic;
}

.nav{
    top: 20px;
    position: fixed;
   
}

.nav a{
     color: white !important;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.ui-container {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-copy {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 12pt;
}
.scan-layer-img{
  width: 15vw;
}
