
/* AR PANEL */
:root{
  --width : 300px;
  --line-width: 8px;
}
.ar-btn{
    position: relative;
    z-index: 9999;
}
.back-btn{
  position: relative;
   z-index: 9999;
}

.ar-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--width);
  height: 100vh;

  transform: translateX(600px); /* 👈 simpler */
  transition: transform 0.4s ease;
  z-index: 9000;
}
.ar-panel a-scene {
  width: 100% !important;
  height: 100% !important;
}

a-scene {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

.ar-panel.open {
  transform: translateX(0);
}

.mindar-ui-overlay,
.mindar-ui-loading,
.mindar-ui-scanning {
  display: none !important;
}




 .ui-scanning {
  position: absolute;
  inset: 0;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8000;
}
/* .ui-scanning {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* show when active */
.ui-scanning.active {
  display: flex;
}

.scanning {
  width: 280px;
  height: 280px;
  position: relative;
}

.scanning .inner {
  position: relative;
  width: 100%;
  height: 100%;
  right: 10vw;
  opacity: 0.85;

  background:
    linear-gradient(to right, white var(--line-width), transparent var(--line-width)) 0 0,
    linear-gradient(to right, white var(--line-width), transparent var(--line-width)) 0 100%,
    linear-gradient(to left, white var(--line-width), transparent var(--line-width)) 100% 0,
    linear-gradient(to left, white var(--line-width), transparent var(--line-width)) 100% 100%,
    linear-gradient(to bottom, white var(--line-width), transparent var(--line-width)) 0 0,
    linear-gradient(to bottom, white var(--line-width), transparent var(--line-width)) 100% 0,
    linear-gradient(to top, white var(--line-width), transparent var(--line-width)) 0 100%,
    linear-gradient(to top, white var(--line-width), transparent var(--line-width)) 100% 100%;

  background-repeat: no-repeat;
  background-size: 40px 40px;
}

/* moving scan line */
.scanline {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--line-width);

  background: white;


  animation: scanMove 2s linear infinite;
}

/* animation */
@keyframes scanMove {
  0% {
    top: 0%;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0.3;
  }
}

/* PAGE STYLING */
h1{
  margin: 0;
}

.nav{
  position: absolute;
}

#number{
  font-size: 150px;
}
#title{
  margin-bottom: 20px;
}

a, p{
  font-family:  "Helvetica Neue";
  font-size: 10pt;
  line-height: 12pt;
}
.copy1-2 {
  white-space: nowrap; /* 🚀 prevents line break */
}
.copy{
  display: flex;
  gap: 50px;
  align-items: baseline;
   font-family: "Helvetica Neue";
   position: relative;
   top: 60px;

  margin: 20px 80px ;

}

.copy > div:last-child {
  flex: 0 0 60%;
}



.copy1{
  display: flex;
  align-items: baseline;
  gap: 10px;
}
  
#conditions {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: oblique;
  margin-top: 6px;
  font-size: 10pt !important;
}

.ar-btn{
  position: absolute;
  z-index: 1;
  right: 40px;
  bottom: 40px;
  width: 90px;
  opacity: 0.9;
}

.ar-btn:hover{
  opacity: 1;
}

.img{
  width: 100%;
}




.plant-container-cross {
  width: 20px;
  height: 20px;
  position: relative;
  left: -18vw;
  top: 30px;
  cursor: pointer;
}

/* both lines */
.plant-container-cross span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1.5px;
  background-color: black;
  transform-origin: center;
}

/* first line */
.plant-container-cross span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* second line */
.plant-container-cross span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}



.subtle-popup {
  position: absolute;
  bottom: 20px;
  left: 44%;
  z-index: 1000;

  opacity: 0;

  transform: translate(-80%, 10px); /* ✅ THIS is the key */

  background-color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;

  text-align: center;

  transition: opacity 0.25s ease, transform 0.25s ease;
}
.subtle-popup p{
  margin-bottom: 10px;
}
.button-curve{
  top: 65%;
  right: 33px;
}
.subtle-popup a:hover{
  background-color: #000000;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.subtle-popup a:hover svg path {
  stroke: white;
  transition: 0.3s;
}


.subtle-popup.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
